<h1>{{requestType}} Request Received</h1>
<ul>
  {{#each list}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>

<ul>
  {{#each listBody}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>